<!DOCTYPE html>
<html lang="ru">
<head>
    <!--SEO-->
    <meta name="description" content="<%- @short_description %> | PROJECT_NAME" />
    <meta name="robots" content="all" />
    <!--/SEO-->
    <!--Socials-->
        <!--OpenGraph-->
        <!--TODO :: Сделать настройку под социальные сети (OpenGraph)-->
        <meta property="og:url" content="[ссылка]">
        <meta property="og:type" content="article">
        <meta property="og:title" content="[заголовок]">
        <meta property="og:description" content="[описание]">
        <meta property="og:image" content="[ссылка на изображение]">
        <meta property="article:author" content="[ссылка на аккаунт Facebook">
        <meta property="og:site_name" content="[название сайта]">
        <meta property="article:published_time" content="2014-08-12T00:01:56+00:00">
        <!--Twitter-->
        <meta name="twitter:card" content="описание">
        <meta name="twitter:site" content="[@websitetwitter]">
        <meta name="twitter:creator" content="[@yourtwitter]">
        <!--Schema-->
        <meta itemscope itemtype="http://schema.org/Article">
        <meta itemprop="headline" content="[заголовок]">
        <meta itemprop="description" content="[описание]">
        <meta itemprop="image" content="[ссылка на изображение]">
    <!--/Socials-->
    <!--Favicons-->
    <link rel="icon" href="favicon-16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="favicon-32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="favicon-48.png" sizes="48x48" type="image/png">
    <link rel="icon" href="favicon-62.png" sizes="62x62" type="image/png">
    <link rel="icon" href="favicon-192.png" sizes="192x192" type="image/png">
    <!--/Favicons-->
    <meta name="application-name" content="PROJECT_NAME">
    <meta content="width=1080, initial-scale=1" name="viewport" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%- @title %> | PROJECT_NAME</title>
</head>
<body>
<section class="header_section">
    <div id="header_content">
        <nav class="header_nav">
            <a href="/" class="header_a left_top_menu">Главная</a>
            <a href="/blogs" class="header_a left_top_menu">Блоги</a>
            <a href="/socials" class="header_a left_top_menu">Сообщества</a>

            <a href="/signin" class="header_a right_top_menu top_menu_button">Вход/Регистрация</a>
        </nav>
    </div>
</section>