<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta charset="UTF-8">
    <title><%- @title %></title>
</head>
<body>
<section class="header_section">
    <div id="header_content">
        <nav class="header_nav">
            <a href="/" class="header_a left_top_menu">Главная</a>
            <a href="/blogs" class="header_a left_top_menu">Блоги</a>
            <a href="/socials" class="header_a left_top_menu">Сообщества</a>

            <a href="/signin" class="header_a right_top_menu top_menu_button">Вход/Регистрация</a>
        </nav>
    </div>
</section>