<% extend 'Container' %>
<section class="Container">
  <div class="shell3">
    <div class="shell2">
      <div class="shell1">
        <div class="user-profile-info">

          <div class="left-col">
            <div  class="user-avatar-info-page">

              <div class="user-avatar-info-page-blackBack">
                <img src="" id="img">
              </div>

              <div class="user-additional_info">

                <div class="info-additional-username">
                  <a href="">Nickname34343</a>      
                </div>


                <div class="info-additional-fullname">
                  <a href="">Реальное Имя</a>
                </div>


                <div class="info-additional-common">
                  30 лет, на сайте с 228 февраля 1377года
                </div>

              </div>

            </div>
          </div>

          <div>

          </div>

          <div>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>