<% extend 'Container' %>
<section class="Container">
  <div class="shell3">
    <div class="shell2">
      <div class="shell1">
        <ul>
          <li class="li-profile-content">
        <div class="user-profile-info">
          <div class="left-col">
            <div  class="user-avatar-info-page">
              <div class="user-avatar-info-page-blackBack">
                <img src="" id="img">
              </div>
              <div class="user-additional_info">
                <div class="info-additional-username">
                  <a onclick="javascript: void(0)"><%- @pageUser.nickname %></a>
                </div>
                <div class="info-additional-fullname">
                  <a href="">Реальное Имя</a>
                </div>
                <div class="info-additional-common">
                  30 лет, на сайте с 228 февраля 1377года
                </div>
              </div>    
            </div> 
          </div>     
          <div class="right-col">
            <ul> 
              <div class="ad-societatem-conlationem-block">
                   <div class="header-block-profile-menu">
                    <h2>Вклад в сферы</h2>
                </div>
                <div class="content-block-profile-menu-ad">
                   <ul class="ul-ad-societatem">
                    <li class="li-ad-societatem">
                      <a class="a-ad-societatem-conlationem-block" href="#">
                          <div class="img-on-ad-societatem">
                          <img src="" alt="">
                        </div>
                        <div class="move-ad-societatem-conlationem-block">
                          <div class="head-description-on-ad-societatem">
                            <span class="rating-info-title-ad-scietatem">сфера один</span>
                            <span class="rating-info-stat-ad-scietatem">323232323</span>
                          </div>
                          <div>
                            <div class="line-ad-societatem">
                              <div class="progress-line-ad-societatem"></div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li class="li-ad-societatem">
                        <a class="a-ad-societatem-conlationem-block" href="#">
                            <div class="img-on-ad-societatem">
                            <img src="" alt="">
                          </div>
                          <div class="move-ad-societatem-conlationem-block">
                            <div class="head-description-on-ad-societatem">
                              <span class="rating-info-title-ad-scietatem">накидка названия сферы 123123123</span>
                              <span class="rating-info-stat-ad-scietatem">34594</span>
                            </div>
                            <div>
                              <div class="line-ad-societatem">
                                <div class="progress-line-ad-societatem"></div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </li>
                  </ul>
                </div>
              </div>
              <li class="li-rating-profile">
                <div class="user-rating-on-profile-color  ">
                  <div class="rating-name">
                    Рейтинг
                  </div>
                  <div>
                    Общий
                  </div>
                  <div class="user-rating-value-on-profile">
                    1000000
                  </div>
                </div>
              </li>
              <li class="li-rating-profile">
                <div class="user-rating-on-profile">
                  <div class="rating-name">
                    Рейтинг
                  </div>
                  <div>
                    Свободный
                  </div>
                  <div class="user-rating-value-on-profile">
                    1000000
                  </div>
                </div>
              </li>
            </ul>
            </div> 
        </div>  
        <div class="user-profile-content"> 
          <div class="about-user-profile">
            <div class="about-me-profile">
              О себе:
            </div>
            <div class="about-me-profile-text">
              любая инфа о пользователе, которую он захочет указать.
            </div>
          </div>
          <div class="user-profile-links">
            <div class="about-me-profile">
                Ссылки на меня:
            </div>
            <div class="user-profile-social">
              <ul>
                <li>
                  <div>
                    Профиль_фейсбук
                    <a href="#"></a>
                  </div>
                </li>
                <li>
                  Профиль_Вконтакте
                  <a href="#"></a>
                </li>
                <li>Профиль_твиттер</li>
                <li>Профиль_инстаграм</li>
              </ul>
            </div>
            <div class="user-profile-posts">
              <div class="about-me-profile">
                Статьи:
              </div>
                <div class="post-on-profile-page">
                <a class="img-post-profile-links" href="#">
                  <div class="mini-img-post-preview">
                  </div>
                </a>
                  <div class="short-name-on-profile-page">
                    <a href="#">Название поста</a>
                  </div>
                  <div class="short-description-on-profile">
                    В этом посту вы можете увидеть что-то, проверка краткого описания.
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe corporis exercitationem totam iusto mollitia in odio dolorem! Nesciunt, nam iusto iste
                  </div> 
                </div>

                <!-- <div class="post-on-profile-page">
                <a class="img-post-profile-links" href="#">
                  <div class="mini-img-post-preview">
                  </div>
                </a>
                  <div class="short-name-on-profile-page">
                    <a href="#">Название поста</a>
                  </div>
                  <div class="short-description-on-profile">
                    В этом посту вы можете увидеть что-то, проверка краткого описания.
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe corporis exercitationem totam iusto mollitia in odio dolorem! Nesciunt, nam iusto iste
                  </div> 
                </div> -->      
              </div>
              <div class="pagination_block">
                <ul class="pagination_block_ul">
                  <li>
                    <div class="pagination_block_div">
                      <a href="#">1</a>
                    </div>
                  </li>
                  <li>
                    <div class="pagination_block_div">
                      <a href="#">2</a>
                    </div>
                  </li>
                  <li>
                    <div class="pagination_block_div">
                      <a href="#">3</a>
                    </div>
                  </li>
                  <li>
                  <li>
                    <div class="pagination_block_div">
                      <a href="#">4</a>
                    </div>
                  </li>
                  <li>
                  <li>
                    <div class="pagination_block_div">
                      <a href="#">5</a>
                    </div>
                  </li>
                  <li>
                      <div class="pagination_block_div">
                        <a>...</a>
                      </div>
                    </li>
                    <li>
                  <li>
                    <div class="pagination_block_div">
                      <a href="#">40</a>
                    </div>
                  </li>
                </ul>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>