<% extend 'Container' %>
<section class="Container">
  <div class="shell3">
    <div class="shell2">
      <div class="shell1">
        <div class="signinContent">
          <div class="signin_column">
            <div id="loginForm" class="Forms">

              <h2>Авторизация</h2>
              <form action="">
                <input type="text" class="text_for_forms_signin" placeholder="email">
                <input type="password" class="text_for_forms_signin" placeholder="Пароль">
                <button class="signin_button">Вход</button>
              </form>

            </div>

            <div id="registrationForm" class="Forms">
              <h1>Регистрация</h1>
              <form action="">
                <input type="text" class="text_for_forms_signin" placeholder="Укажите email">
              <input type="password" class="text_for_forms_signin" placeholder="Придумайте пароль">
              <input type="password" class="text_for_forms_signin" placeholder="Повторите пароль">
              <button class="register_button">Продолжить регистрацию</button>
              </form>
            </div>

          </div>
            
          <div class="signin_project_description">
            <h1>Добропожаловать на PROJECT_NAME!</h1>
            <br>
            <div class="text_signin_content">
                <p>Lorem ipsum dolor sit amet consectepture adipisicing elit. Lorem ipsum dolor sit amet consectepture adipisicing elit. Lorem ipsum dolor sit amet consectepture adipisicing elit. Lorem ipsum dolor sit amet consectepture adipisicing elit.</p>
                <p>Lorem ipsum dolor sit amet consectepture adipisicing elit. Lorem ipsum dolor sit amet consectepture adipisicing elit. Lorem ipsum dolor sit amet consectepture adipisicing elit. Lorem ipsum dolor sit amet consectepture adipisicing elit.</p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. A corrupti veniam, voluptatum nulla tempora mollitia debitis ut rem consequatur molestiae odio aspernatur eaque quaerat quos! Architecto tenetur necessitatibus natus fugit.
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum necessitatibus, iure id cumque sit nihil dolor quia est deleniti dolorum, illo alias. Voluptatem saepe ut dicta suscipit nostrum illum laborum?
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>